body{
    margin: 0;
    border: none;
}

ul{
    list-style: none;
}

.container {
    width: 95%;
    margin: 0 auto;
    direction: rtl;
}

/* nav{
    width:100% ;
} */

input{
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
}

.inline{
    display: inline-block;
}

li{
    margin: 0 20px;
}
li:first-child{
    margin-right: 0 !important;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.back-ground-1{
    background-color: blueviolet;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

header{
    position: fixed ;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    z-index: 1;

}

.back-ground-1 video{
    width: 100%;
    /* object-fit: cover; */
    position: relative;
}

.back-ground-2{
    background-color:#FAFAFA;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -10px;
    padding: 0;
}

.back-ground-2 img{
    max-height: 100%;
    display: inline-block;
}

.text-container{
    display: inline-block;
    width: 39%;
    height: 100%;
    display: inline-block;
    margin-left: -10px;
    float: right;
}

.text-s2{
    margin-top:40vh ;
}

.image-container{
    width: 60%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}


.fa-apple{
    font-size: 40px;
    position: relative;
    top: 5px;
}

.logo{
    float: left;
}

.text-s2 h1{
    font-size: 100px;
}

.btn-s2{
    width: 100px;
    height: 50px;
    position: relative;
    top: -50px;
}

button{
    font-size: 30px;
}

.back-ground-3{
    background-color:#FAFAFA;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -10px;
    padding: 0;
}

.image-container-2{
    width: 90%;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    object-position: center;
}