body{
    margin: 0;
    border: none;
    background-color: black;
}

ul{
    list-style: none;
}

.container {
    width: 95%;
    margin: 0 auto;
    direction: rtl;
}

.inline{
    display: inline-block;
}

li{
    margin: 0 20px;
}
li:first-child{
    margin-right: 0 !important;
}

a{
    text-decoration: none;
    color: aliceblue;
}